
<div class="card p-3" >
    <form #fillForm = 'ngForm' (ngSubmit)="sbmtData(fillForm.value)">
        <div *ngFor="let person of adArray">
        <div class="row mb-3">
            <div class="col-12 col-md-12">
                <div class="input-group"> <input required #person.name type="text" [name]="person.name" placeholder="Person Name" ngModel> <label>{{person.title}}</label> </div>
            </div>
            <div *ngIf="person.name.touched && person.name.invalid" class="alert alert-danger">
                <p *ngIf="person.name.errors && person.name.errors['required']">Enter the {{person.title}}</p>
                
            </div>
        </div>
        </div>
        <div *ngFor="let child of chArray">
        <div class="row mb-3">
            <div class="col-12 col-md-12">
                <div class="input-group"> <input required #cname type="text" [name]="child.name" placeholder="Child Name" ngModel> <label>{{child.title}}</label> </div>
            </div>
        </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-5"> <button class="btn btn-primary showBtn">SHOW FLIGHTS</button></div> -->
             <button class="btn btn-outline-primary ml-3" type="submit">Submit</button>
             <button class="btn btn-outline-info ml-3" type="reset" (click)="resetForm(fillForm)">Reset</button>
        </div>
    </form>
</div>

<!-- <div *ngFor="let item of items | slice:0:limit">
    Your loop content goes here 
    <h1>person </h1>
  </div> -->