<div class="container">
    <div class="row justify-content-center mt-3 ">
        <div class="col-9 col-md-9 bg-white p-3">
            <h2 class="text-center">Plane Ticket Purchase</h2>
            <hr>
            <h5>PNR Number :123546546</h5>
            <h4>Booking Date </h4>
            <p>{{ticketData.frm1Data.dateNow}}</p>
            <h4>Guest Name</h4>
            <p>{{frm2Data}}</p>
            <hr>
            <h3>Flight Details</h3>
            <h4>Route</h4>
            <table>
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Airline</th>
                        <th>Departure Date</th>
                        <th>Travel Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>mad</td>
                        <td>ist</td>
                        <td>tk42</td>
                        <td>12\2\32</td>
                        <td>Class</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h4>Fare Breakdown</h4>
            <table>
                <tbody>
                    <tr>
                        <td>Base Fare</td>
                        <td>:</td>
                        <td>price</td>
                    </tr> 
                    <tr>
                        <td>Total Amount</td>
                        <td>:</td>
                        <td>Price</td>
                    </tr>
                </tbody>
            </table>
            <h3>Important Information</h3>
            <p>Passenger are recommended to check in two hours before the scheduled departure time to prevent cancellation of passenger reservation. The airline shall not be liable to loss or damages due to passenger's failure to comply with the provisions above if without fault by the airline.  </p>
               <h3> Plane Ticket Purchase </h3>
               <h3> Privacy policy  </h3>
               <p>https://www.myairline.com/privacyplicy</p>
               <h3>Terms And Condition</h3>
               <p>https://www.myairline.com/mytermandconditions</p>
               <h3>Restricted Items OR Goods</h3>
               <p> We reserve the right to confiscate any item or gods brough by the passenger which we belive might bring harm or threat to our guest, including the following          </p>
               <p> 1. Pointed or sharp objects</p>
               <p> 2. Firearms and Ammunition</p>
               <p> 3. Exposives and flammable substances </p>
               <p> 4. Toys represents dangerous objects such as toy guns and knives </p>
               <p> 5. Aerosols</p>
               <p> 6. Any other items which may be considered security hazards by law</p>
               <hr>
               <p class="thanks">THANK YOU FOR MAKING US YOUR AIRLINE OF CHOICE! HAVE A SAFE FLIGHT</p>
                  
    
                  
                 
                   
    
                   
    
    
    




        </div>
        

    </div>
    <button class="btn btn-success btn-lg">Download Ticket</button>
</div>
